*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(275, 100%, 97%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container img{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.accordion-container{
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%,-30%);
    border-radius: 5px;
}
.heading{
    display: flex;
    padding: 30px;
}
.heading img{
    width: 30px;
    height: auto;
}
.heading h1{
    padding-left: 20px;
    color: hsl(292, 42%, 14%);
    font-family: 'Work Sans', sans-serif;
}
.accordion-items{
    padding-left: 30px;
    padding-bottom: 30px;
}
.accordion-title{
    position: relative;
}
.accordion-title p:hover{
    color: hsl(292, 16%, 49%);
    transition: 1s;
}
.accordion-title::after{
    content: url('assets/images/icon-plus.svg');
    position: absolute;
    right: 20px;
    top: 8px;
    padding: 5px;
}

.accordion-item.active .accordion-title::after{
    content: url('assets/images/icon-minus.svg');
    right: 20px;
}

.accordion-title p {
    color: hsl(292, 42%, 14%);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.accordion-content{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;        
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: hsl(292, 16%, 49%);
    display: none;
}

.accordion-item.active .accordion-content{
    display: block;
    transition: 1s;
}

.attribution{
    padding-bottom: 5px;
    position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 325px) {
    .accordion-container{
        width: 300px;
        height: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%,-10%);
    }
    .accordion-title p{
        padding-right: 74px;
    }
    .accordion-title p{
        padding-top: 10px;
    }
}


